{% extends 'base.html.twig' %}

{% block title %}Edition d'une offre{% endblock %}

{% block body %}

<div class="container">
    <h1>Modifier l'offre : {{offer.title}}</h1>
    {{form_start(form)}}
    
    {{form_widget(form)}}
    <button type="submit" class="btn btn-success">Publier une offre</button>
    {{form_end(form)}}
</div>

{% endblock %}