{% extends 'base.html.twig' %}

{% block title %}Les offres{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-4">Voici les offres de nos partenaires !</h1>

    <div class="row">
        {% for offer in offers %}
            {% set url = path('offers_show', {'slug': offer.slug}) %}
            {% include 'offer/_offer.html.twig '%}
        {% endfor %}
    </div>
</div>
{% endblock %}
                    
