footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

div.container {
    margin-top:20px;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Upload CV";
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini {
    max-width: 24px;
    max-height: 24px;
}