{% extends 'base.html.twig' %}

{% block title %}Candidature n°{{candidature.id}}
{% endblock %}

{% block body %}


	<div class="container">
		<h1>Candidature pour l'offre :
			{{candidature.offer.title}}
		</h1>
		<h2>Le candidat s'appelle
			{{candidature.student.fullName}}</h2>

		<a class="btn btn-primary" href="{{asset('uploads/cv/') ~ candidature.cvFileName }}">Télécharger CV du candidat</a>
	</div>
{% endblock %}
